<div class="container">
  <div class="row">
    <h1 class="fw-bold">Welcome to <span class="text-warning">Trellu</span> Ultra</h1>
  </div>
  <div class="row text-center h-100">
    <div class="col-lg-4 text-center my-auto">
      <div class="card card-block d-flex bg-dark card-dashboard">
        <div class="card-body align-items-center d-flex justify-content-center">
          <h5 class="card-title fw-bold">Total Courses: <span class="text-warning">50</span></h5>

        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center my-auto">
      <div class="card card-block d-flex bg-dark card-dashboard">
        <div class="card-body align-items-center d-flex justify-content-center">
          <h5 class="card-title fw-bold">Overall passed modules: <span class="text-danger">0/500</span></h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center my-auto">
      <div class="card card-block d-flex bg-dark card-dashboard">
        <div class="card-body align-items-center d-flex justify-content-center">
          <h5 class="card-title fw-bold">Average Score: <span class="text-danger">0%</span></h5>
        </div>
      </div>
    </div>
  </div>

  <h1 class="fw-bold">Mission Vission</h1>
  <p class="text-lead">Mission
    To provide the learning environment that would transform our students into globally competitive professionals;
    To produce social wealth from the generation of new knowledge;
    To contribute to the solution of industry’s and society’s problems by the expert application of knowledge.

    Vision
    Malayan Colleges Laguna shall be a global steeple of excellence in professional education and research.


    Core Values
    Excellence, Loyalty, Teamwork, Discipline, and Urgency


    Motto
    Excellence and Virtue</p>


  <h1 class="fw-bold">Announcements</h1>
  <div class="list-group">
    <div *ngFor="let announcement of announcements">
      <a class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{announcement.announcementTitle}}</h5>
          <small class="text-muted">{{announcement.date}}</small>
        </div>
        <p class="mb-1">{{announcement.announcementDescription}}</p>
        <small class="text-muted">{{announcement.author}}</small>
      </a>
    </div>
  </div>
</div>
