<div class="container">
  <h2 class="fw-bold">Total number of courses: <span class="text-warning">{{courses.length}}</span></h2>
  <div class="row row-cols-lg-3 g-4 h-100">
    <div *ngFor="let course of courses">
      <div class="col">
        <div class="card">
          <img src="../../assets/images/showcase.svg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{course.courseCode}}</h5>
            <p class="card-text">{{course.courseName}}</p>
            <a href="#" class="btn btn-primary">{{course.instructor}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
