<section>
  <div class="container">
    <div class="row">
      <div class="col-md g-4">
        <div class="card bg-secondary p-4 h-100">
          <div class="mx-auto text-center">
            <img src="../../assets/images/pc.svg" height="32px" width="32px" />
            <h1>Virtual</h1>
            <p>A virtual classroom environment ensures human connection, a vital element of classroom teaching that video-on-demand courses don’t have and sorely miss. In a virtual classroom, teachers interact with students in real time; students can voice their questions and interact with peers similar to how they would in a regular classroom, albeit over the internet.</p>
          </div>
        </div>
      </div>
      <div class="col-md g-4">
        <div class="card bg-secondary p-4 h-100">
          <div class="mx-auto text-center">
            <img src="../../assets/images/hybrid.svg" height="32px" width="32px" />
            <h1>Hybrid</h1>
            <p>A hybrid classroom, sometimes referred to as a hyflex classroom, is a learning environment which includes a mix of students who are present in the physical classroom and also participants joining the class virtually.</p>
          </div>
        </div>
      </div>
      <div class="col-md g-4">
        <div class="card bg-secondary p-4 h-100">
          <div class="mx-auto text-center">
            <img src="../../assets/images/inperson.svg" height="32px" width="32px" />
            <h1>In Person</h1>
            <p>Face-to-face learning is an instructional method where course content and learning material are taught in person to a group of students. This allows for a live interaction between a learner and an instructor. It is the most traditional type of learning instruction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
