<div class="d-flex flex-column p-3 text-white bg-dark full-height">
  <a href="/" class="text-white text-decoration-none text-center">
    <img src="../../assets/images/showcase.svg" class="w-50" />
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">

        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">

        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">

        Customers
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a class="d-flex align-items-center text-white text-decoration-none" routerLink="/home">
      <strong class="text-danger">Logout</strong>
    </a>
  </div>
</div>
